@use "~bulma/sass/utilities/initial-variables";
@use "~bulma/sass/utilities/functions";

// You can use Bulma variables from here on


@use "~bulma/bulma";
@use "~bulma/sass/utilities/derived-variables";
@use "~bulma/sass/layout/hero";

// You can use derived variables from here on

.navbar-brand {
  font-weight: initial-variables.$weight-bold;
}

@media (min-width: initial-variables.$tablet) {
  // The submit button in the link submission form is not being pushed down by a label,
  // like the input fields for the URL and title are. Thus, we have to push it down
  // manually to make sure it aligns with those input fields:
  .field.is-horizontal .control.pageSubmit {
    // This value is actually hardcoded by Bulma for .label:not(:last-child):
    $label-bottom-margin: 0.5rem;
    margin-top: derived-variables.$size-large + $label-bottom-margin;
  }
}
